@pvx_img: "https://img.jx3box.com/image/pvx/";
@pet_root: "https://img.jx3box.com/pet/";
@game_icons: "https://img.jx3box.com/image/game/";
@img_path: "https://img.jx3box.com/";
@design_url: "https://cdn.jx3box.com/design/";

@border-active: #39d45d;
@color-cyan: #17e0c2;
@color-gray: #586069;
@active-color: #d16400;


@faceColor: #6b52ff;
@bodyColor: #6b52ff;
@homelandColor: #6b52ff;
@petColor: #d16400;
@priceColor: #53b27f;
@examColor: #07ad36;
@furnitureColor: #d16400;
@activeColor: #ff9a00;

@openedWidth: 136px;
@regularWidth: 70px;

@default: #2682ea;
@green: #62d3b0;
@orange: #f49e40;
@red: #ed4948;
@purple: #9262d3;
@tm: #2682ea00;

@fontColor: #24292e;
@fontColor-dark: #fedaa3;
@fontcolor-40: rgba(28, 28, 28, 0.4);
@fontcolor-40-dark: rgba(255, 255, 255, 0.4);
@fontcolor-80: rgba(28, 28, 28, 0.8);
@fontcolor-80-dark: rgba(255, 255, 255, 0.8);
@fontColor-40: @fontcolor-40;
@fontColor-40-dark: @fontcolor-40-dark;
@fontColor-80: @fontcolor-80;
@fontColor-80-dark: @fontcolor-80-dark;
