

.u-quality--0 {
    color: #999;
}
.u-quality--1 {
    color: @color;
}
.u-quality--2 {
    color: #00d24b;
}
.u-quality--3 {
    color: #007eff;
}
.u-quality--4 {
    color: #ff2dff;
}
.u-quality--5 {
    color: #ffa500;
}
.u-quality--6 {
    color: #c00;
}
.u-quality-bg--0 {
    .u-image {
        border: 1px solid #999;
    }
}
.u-quality-bg--1 {
    .u-image {
        border: 1px solid #fff;
    }
}
.u-quality-bg--2 {
    .u-image {
        border: 1px solid #00d24b;
    }
}
.u-quality-bg--3 {
    .u-image {
        border: 1px solid #007eff;
    }
}
.u-quality-bg--4 {
    .u-image {
        border: 1px solid #ff2dff;
    }
}
.u-quality-bg--5 {
    .u-image {
        border: 1px solid #ffa500;
    }
}
.u-quality-bg--6 {
    .u-image {
        border: 1px solid #c00;
    }
}
