@drawerBg: #24292e;
@drawerColor: #fedaa3;
@drawerColor2: #24292e;

.c-drawer {
    .w(100%);
    height: auto !important;
    max-height: 80vh !important;
    top: auto !important;
    bottom: 0 !important;
    border-radius: 1.25rem 1.25rem 0 0;
    margin: auto;
    outline: none;
    user-select: none;
    background: @drawerBg !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    box-sizing: border-box;

    .el-drawer__body {
        height: auto !important;
        max-height: none !important;
        overflow-y: visible;

        iframe {
            border-radius: 1.25rem 1.25rem 0 0;
        }
    }

    .el-drawer__header {
        .mb(0.556rem);
    }

    &.long {
        .h(auto) !important;
        padding: 1.111rem 0.778rem 1.667rem 0.778rem;
    }

    .c-drawer-box {
        .flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .u-drawer-title {
        .flex;
        align-items: center;
    }

    .u-drawer-item {
        .flex;
        .flex(o);
        flex-direction: column;
        flex: auto;
        .r(0.75rem);
        padding: 0.75rem 0;
        background: rgba(255, 255, 255, 0.05);
        box-sizing: border-box;
        gap: 0.75rem;

        &.top {
            .h(6.875rem);
        }

        &.report {
            max-width: 50%;
        }

        .u-icon {
            .flex;
            .flex(o);
        }

        .u-self {
            .h(2.5rem);
            .flex;
            .flex(o);
            flex-direction: column;

            img {
                .size(1.5rem);
                .r(50%);
            }

            .u-circle-top {
                .pr;
                bottom: -0.75rem;
            }

            .u-circle-bottom {
                .flex;
                gap: 0;
            }

            .u-text-r {
                .flex;
                .flex(o);
                .size(1.5rem);
                .r(50%);
                background-color: #d9d9d9;
            }
        }

        .u-text {
            .fz(0.875rem, 1.25rem);
            .bold(700);
            color: #acaeaf;

            &.search,
            &.fix {
                color: @drawerColor;
            }
        }

        .u-author {
            .flex;
            .flex(o);
            .w(100%);
            .fz(0.875rem, 1.25rem);
            .bold(700);
            padding: 0 0.75rem;
            color: #acaeaf;
            box-sizing: border-box;
            gap: 0.2rem;

            .u-avatar {
                .size(1.25rem);
                .r(50%);
                flex-shrink: 0;
                overflow: hidden;
            }

            .u-author-name {
                flex: auto;
                min-width: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    .u-drawer-top,
    .u-drawer-top_dark {
        .flex;
        .flex(o);
        gap: 1.667rem;

        .u-drawer-item {
            .flex;
            .flex(o);
            flex-direction: column;
            padding: 0.444rem 0;

            .u-icon,
            .u-icon_dark {
                .size(1.667rem);
                padding: 0.222rem;
                box-sizing: border-box;
            }

            .u-text {
                .fz(0.667rem, 1rem);
                .bold(400);
                color: #24292e;
            }
        }
    }

    .u-drawer-top_dark {
        .none;
    }

    .u-drawer-pack_up {
        .flex;
        .mt(0.667rem);
        .r(0.667rem);
        align-items: center;
        padding: 0.667rem 1.111rem;
        background: rgba(28, 28, 28, 0.05);
        box-sizing: border-box;
        gap: 0.667rem;

        .u-icon {
            .size(1.875rem);
            padding: 0.25rem;
            box-sizing: border-box;
        }

        .u-icon_dark {
            .none;
        }

        .u-text {
            .fz(0.778rem, 1.111rem);
            .bold(400);
            letter-spacing: 0;
        }
    }

    .u-pinned-list {
        .mt(0.667rem);
        .r(0.667rem);
        padding: 0.667rem 1.111rem;
        background: rgba(28, 28, 28, 0.05);
        box-sizing: border-box;

        .u-item {
            .flex;
            .pt(0.667rem);
            align-items: center;
            gap: 0.667rem;

            .u-icon,
            .u-icon_dark,
            .u-btn,
            .u-icon_delete {
                .size(1.667rem);
                padding: 0.222rem;
                flex-shrink: 0;
                box-sizing: border-box;
            }

            .u-icon_dark {
                .none;
            }

            .u-text {
                flex: 1;
                .fz(0.778rem, 1.111rem);
                .bold(400);
                letter-spacing: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .u-text_delete {
                color: #ff3b30;
            }
        }
    }

    .c-drawer-fix,
    .c-drawer-collect {
        color: rgba(255, 255, 255, 0.4);

        .u-collect-icon {
            .flex;
            .flex(o);
            .w(100%);
            .mb(1.25rem);
            flex-direction: column;

            .u-text {
                .fz(0.875rem, 1.25rem);
            }
        }

        .u-collect-tips {
            .fz(0.75rem, 1rem);
            .mb(1.25rem);
            text-align: center;

            &.edit {
                .flex;
                .fz(0.875rem, 1.25rem);
                align-items: center;
            }
        }

        .u-btn-box {
            .flex;
            .flex(o);
            .mb(1.25rem);
            gap: 0.75rem;

            .u-btn {
                .flex;
                .flex(o);
                .fz(1rem, 1.5rem);
                .bold(700);
                flex: auto;
                .r(0.75rem);
                padding: 0.75rem 1rem;
                color: rgba(255, 255, 255, 0.4);
                background: rgba(255, 255, 255, 0.1);

                &.collect {
                    color: @drawerColor2;
                    background-color: @drawerColor;
                }
            }
        }
    }

    .c-drawer-fix {
        .u-edit-title {
            .mb(1.25rem);
            .fz(0.875rem, 1.25rem);
            .bold(700);
            color: rgba(255, 255, 255, 0.6);
        }

        .u-pin-box {
            .flex;
            .mb(1.25rem);
            flex-direction: column;
            gap: 0.75rem;

            .u-item {
                .flex;
                .r(0.5rem);
                align-items: center;
                align-self: stretch;
                padding: 0.5rem 1rem;
                background: rgba(255, 255, 255, 0.1);
                gap: 0.75rem;

                .u-text-r,
                .u-icon {
                    .size(1.875rem);
                    .r(50%);
                    flex-shrink: 0;
                }

                .u-text-r {
                    .flex;
                    .flex(o);
                    .r(50%);
                    color: #000;
                    background-color: #d9d9d9;
                }

                .u-text {
                    flex: auto;
                    min-width: 0;
                    color: #fff;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .u-slash {
                    .flex;
                    .flex(o);
                    .size(1.875rem);
                    flex-shrink: 0;
                }
            }
        }
    }

    .c-drawer-fixData {
        .h(70vh);
        .pr;

        .u-icon {
            .pa;
            .z(3);
            right: 1.25rem;
        }

        span {
            color: #fff;
        }

        .u-iframe {
            border-radius: 1.25rem 1.25rem 0 0;
        }
    }

    .slide-up-enter-active,
    .slide-up-leave-active {
        transition: transform 0.3s ease-in-out;
    }

    .slide-up-enter,
    .slide-up-leave-to {
        transform: translateY(100%);
    }
}

@media (prefers-color-scheme: dark) {
    .c-drawer {
        background: #282828 !important;

        .u-drawer-top {
            .none;
        }

        .u-drawer-top_dark {
            .flex;

            .u-drawer-item {
                .u-text {
                    color: @drawerColor;
                }
            }
        }

        .u-drawer-pack_up {
            background: #ffffff1a;

            .u-icon {
                .none;
            }

            .u-icon_dark {
                display: block;
            }

            .u-text {
                color: rgba(255, 255, 255, 0.4);
            }
        }

        .u-pinned-list {
            .u-item {
                .u-icon {
                    .none;
                }

                .u-icon_dark {
                    display: block;
                }

                .u-text {
                    color: rgba(255, 255, 255, 0.4);
                }
            }
        }
    }
}
